.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline;
    margin: 0 auto;
    height: 32px;
    width: auto;
}

.person-name {
    color: rgb(23, 57, 77);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    overflow-wrap: break-word;
    cursor: pointer;
}
