.LargeBadge {
    padding: 6px 12px 6px 12px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.LargeBadge, .SmallBadge {
    border-radius: 3px;
    margin-right: 4px;
    cursor: pointer;
}

.SmallBadge {
    height: 5px;
    width: 300px;
    padding: 2px 22px 2px 22px;
    font-size: 6px
}


.TransparentBorderColor {
    border-color: transparent;
}
