.PostEditor Description {
    margin: 0px 0px 8px 0px;
}

.PostEditor .textwrapper
{
  display: block;
}

.PostEditor textarea {
    width: 100%;
    height: 250px;
    display: block;
}

.PostEditor textarea:focus {
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf;
    border-radius: 3px;
}
